.group {
  display: grid;
  gap: 0;
}

.link {
  color: inherit;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-thickness: 0.04em;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
